.kontejner
{
    max-width: 1200px;
}

body, h1, h2, h3, h4, h5, h6, p 
{
    font-family: 'Raleway', sans-serif;
}

h1 
{
    font-size:24px;
    font-weight: 500;
}


h2,h3,h5
{
    font-weight: 700;
    font-size: 1.5em;
}

p2
{
    font-weight: 700;
    font-size: 1.1em;
    text-align: center;
    line-height: 1.2em;
    color: black;
}

.bg
{
    background-image:url(img/ziarnaalt.jpg);
    background-size: cover;
    background-repeat: repeat;

}

.nav-item:hover 
{   
    opacity: 80%;
}


/*
.proba
{
    padding-top: 1.2em;
    margin-top: 1.5em;
    padding-bottom: 1.2em;
    margin-bottom: 1.5em;
}
*/

.tytul h2
{
    font-size: 2.5em;
    position:relative;
    z-index: 1;
}

.tytul h2::before
{
    content: '';
    background-color: rgba(212, 182, 148, 0.5);
    width: 1em;
    height: 4.5em;
    position: absolute;
    top: -.8em;
    left: -.6em;
    z-index: -1;

}

.tytulstandsfor h2
{
    font-size: 2.5em;
    position:relative;
    z-index: 1;
}

.tytulstandsfor h2::before
{    
    background-image: url(img/ziarenko1.svg);
    background-size: 4em 4em;
    width: 4em; 
    height: 4em;
    content:"";
    max-height: 4em;
    position: absolute;
    z-index: -1;
    bottom: -.8em;
    left: -3em;

}

.paragraf
{

    position:relative;
    z-index: 1;
}

.paragraf::before
{
    content: '';
    background-color: rgba(212, 182, 148, 0.5);
    width: 3em;
    height: 8em;
    position: absolute;
    bottom: -5em;
    right: 0em;
    /*
    top: 1em;
    left: 17em; !!!!!!!!!!!
    */
    z-index: -1;

}

.button1 
{
    text-decoration: none;
    position: relative;
    z-index: 1;
    color: black;
    background-color: #d4b694;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
    width: 10em;
    height: 2.5em;
    border-color: #d4b694;
    text-align: center;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.7);
}

.button1:hover 
{   
    background-color: #c59c6d; 
    border-color: #c59c6d;
}

.button2 
{
    background: none;
    border-color: #d4b694;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
    width: 10em;
    height: 2.5em;
    color: #d4b694;
    text-align: center;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    border: 2px solid;
    border-radius: 8px;
        box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.7);
}

.button2:hover 
{
    color: #dbbe90;
    background-color: #000000;  /* jaki dać tutaj hover color?*/
    opacity: 0.7;               /* jak zrobić background opacity?*/
    border-color: #dbbe90;
}

.button3 
{
    background-color: #BBA388;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 700;
    width: 180px;
    height: 46px;
    border-color: #d4b694;
    color: black;
    text-align: center;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    
    position:relative;
    z-index: 1;
    
    /*  position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.button3:hover 
{   
    background-color: #ab8e6d; 
    border-color: #ab8e6d;
}

.button4 
{
    background-color: #D4B694;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    width: 8em;
    height: 2em;
    border-color: #d4b694;
    color: black;
    text-align: center;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    
    position:relative;
    z-index: 1;
    
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.3);
    
    /*  position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.button4:hover 
{   
    background-color: #cca87f; 
    border-color: #cca87f;
}

.tryit
{
    position:relative;
    z-index: 1;
}

.tryit::before
{
    content: '';
    background-color: rgba(212, 182, 148, 0.5);
    width: 15em;
    height: 1.2em;
    position: absolute;
    top: 2em;
    left: -2em;
    z-index: -2;

}

.tryit2
{
    position:relative;
    z-index: 1;
}

.tryit2::before
{
    background-image: url(img/ziarenkolewe.svg);
    content:"";
    background-size: 7em 7em;
    width: 7em; 
    height: 7em;
    max-height: 7em;
    position: absolute;
    z-index: -1;
    top: -4em;
    left: -3em;
}

.kontejnermessage
{
    position:relative;
    z-index: 1;
}

.kontejnermessage::before
{
    background-image: url(img/duzeziarenkomessage.svg);
    content:"";
    background-size: 12em 12em;
    width: 12em; 
    height: 12em;
    max-height: 12em;
    position: absolute;
    z-index: -1;
    bottom: 1em;
    left: 1em;
}

.kontejnermessage2
{
    position:relative;
    z-index: 0;
}

.kontejnermessage2::before
{
    background-image: url(img/duzeziarenko2.svg);
    content:"";
    background-size: 8em 8em;
    width: 8em; 
    height: 8em;
    max-height: 8em;
    position: absolute;
    z-index: -1;
    bottom: -12em;
    right: 2em;
}


.duzeziarenko
{
    position:relative;
    z-index: -0;
}

.duzeziarenko::before
{
    content: url(img/duzeziarenko2.svg);
    position: absolute;
    z-index: -1;
    height: auto;
    margin-left: 5em;
    margin-top: -7.5em; 

}

.duzeziarenkohome
{
    position:relative;
    z-index: -0;
}

.duzeziarenkohome::before
{
    background-image: url(img/duzeziarenko.svg);
    background-size: 14em 14em;
    width: 14em; 
    height: 14em;
    content:"";
    max-height: 14em;
    position: absolute;
    z-index: -1;
    top: -11em;
    right: 5em;

}

/*
.duzeziarenkoabout
{
    position:relative;
    z-index: -0;
}

.duzeziarenkoabout::before
{
    background-image: url(img/duzeziarenko.svg);
    background-size: 16em 16em;
    width: 16em; 
    height: 16em;
    content:"";
    max-height: 16em;
    position: absolute;
    z-index: -1;
    top: -13em;
    left: -7.5em;

}
*/


.duzeziarenkoaboutrobocze
{
    position:relative;
    z-index: -0;
}

.duzeziarenkoaboutrobocze::before
{
    background-image: url(img/duzeziarenko.svg);
    background-size: 16em 16em;
    width: 16em; 
    height: 16em;
    content:"";
    max-height: 16em;
    position: absolute;
    z-index: -1;
    top: -11em;
    left: -6.8em;
}



.imagespawn
{ 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    min-height: 20em;
}

.imagespawnsmall
{
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 7em;
}

.imagespawnsmallalt
{
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 6em;
}

.imagespawnnalewanie
{ 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: left;
    min-height: 40em;
}

/*
.nalewanie
{
    position:relative;
    z-index: 1;
}

.nalewanie::before
{
    content: '';
    background-image: url(img/nalewanie.jpg);
    width: 26em;
    height: 60em;
    position: absolute;
    bottom: 0em;
    left: 0em;
    z-index: -1;

}
*/

.nalewaniespawn
{
    position:relative;
    z-index: 1;
    min-width: 11em;
    max-width: 18em;
}

.nalewaniespawn::before
{
    content: '';
    background-color: rgba(212, 182, 148, 0.5);
    width: 2em;
    height: 15em;
    position: absolute;
    top: -6em;
    right: -1.5em;
    z-index: -1;
}

.mapaspawn
{
    position:relative;
    z-index: 0;
}

.mapaspawn::before
{
    background-image: url(img/pinezka.svg);
    background-size: 2em 2em;
    width: 2em; 
    height: 2em;
    content:"";
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 50%;
}

.linkhover
{
    text-decoration: none;
}

.linkhover:hover
{
    opacity: 80%;
    transition: 0.2s;
}

.textsmallspawn
{
    padding:1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.formtext
{
    /* domyślna czcionka dla naklejek formularzy*/
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: right;
    
}


input[type=text],
input[type=email]
{
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.7);
    width: 10em;
    border: 1px solid;
    border-radius: 7px;
    font-size: 14px;
    padding: 2px;
    box-sizing: border-box;
    outline: none;
}

textarea
{
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.7);
    width: 100%;
/*
    min-width: 15em;
    max-width: 20em;
*/
    border: 1px solid;
    border-radius: 7px;
    font-size: 14px;
    padding: 2px;
    box-sizing: border-box;
    outline: none;
    
    position:relative;
    z-index: 0;
    
}

